<!doctype html>

<html>
    <head>

        <!-- CSS code -->
        <style>
        form {
            margin: auto;
            width: 35%;
        }

        .result {
            margin: auto;
            width: 35%;
            border: 1px solid #ccc;
        }
        </style>

        <title>Water Supply Forecasts</title>
    </head>

    <body>
        <form action="{{ url_for('main') }}" method="POST">
        <!-- Use the action attribute to call the 'main' function -->
            <h3>Choose a Site</h3>
                <select name="site" id="site">
                  <option value="black_rock">Black Rock Reservoir</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>

        <br>
            <h3>Choose a Period to Forecast (Months)</h3>
                <select name="period" id="period">
                      <option value="1">1 Month</option>
                      <option value="3">3 Months</option>
                      <option value="6">6 Months</option>
                      <option value="12">1 Year</option>
                      <option value="24">2 Years</option>

                </select>

        <br>
            <input type="submit">
                    </form>
        <div class="result" align="center">

            <!-- Our 'result' is false until a prediction has been made -->
            {% if result %}

                <!-- Loop through dictionary and print key:value pair -->
                {% for variable in original_input %}
                    <b>{{ variable }}:</b> {{ original_input[variable] }} <br>
                {% endfor %}
                <br>
                <!-- Print prediction -->
            <h2>Here's a number</h2>
            <h3>{{result}}</h3>
                <br> <h2>Here's a plot of the current situation:</h2>
            <img src={{image}} alt="Chart" height="auto" width="100%">

            {% endif %}
        </div>

    </body>

</html>